<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
      <processor
            apply="always"
            beforefragment="true"
            class="com.sii.rental.ui.processor.RentalProcessor">
      </processor>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.sii.rental.ui.preferences.RentalColorsPrefPage"
            id="com.sii.rental.ui.preferencescolors"
            name="Rental Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.preferences.RentalDefaultPref">
      </initializer>
   </extension>
   <extension
         point="com.sii.rental.ui.palette">
      <palette
            id="com.sii.rental.ui.palette1"
            name="Default"
            paletteClass="com.sii.rental.ui.palettes.DefaultPalette">
      </palette>
   </extension>

</plugin>
